#dot1{
    animation-name: typingAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
    transition: all linear;
}

#dot2{
    animation-name: typingAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    transition: all linear;
}

#dot3{
    animation-name: typingAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 0.7s;
    transition: all linear;
}

@keyframes typingAnimation{
    0%{
        opacity: 0.3;
        transform: scale(1);
    }
    50%{
        opacity: 0.8;
        transform: scale(1.1);
    }
    100%{
        opacity: 0.3;
        transform: scale(1);
    }
}